.HeaderContacts {
  background-color: black;
  color: gray;
}

.HeaderContacts > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  flex-wrap: wrap;
}

div > span {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  text-transform: none;
  font-style: normal;
  color: #b1b1b1;
}

.PhoneIcon,
.MailIcon {
  font-size: 16px;
  margin: 0 15px;
}

.ContactsIconsContainer {
  display: flex;
  gap: 15px;
  margin: 0 16px;
}
